# Ignore Gradle project-specific cache directory
.gradle
.idea
.settings
.project
.classpath


# Ignore Gradle build output directory
build
dist
bin
out
gpg.gpg
gradle.properties
log4j.properties
log**

## macOS
.DS_Store