# Ignore Gradle project-specific cache directory
.gradle
.idea
.settings
.project
.classpath


# Ignore Gradle build output directory
build
dist
bin
out
log**

gradle.properties
gpg.gpg
log4j.properties

## macOS
.DS_Store